@font-face{
    font-family:"barcade-brawl-regular";
    src:url("https://dafonttop.com/wp-data/b/427/10427/file/barcade-brawl.ttf") format("woff"),
    url("https://dafonttop.com/wp-data/b/427/10427/file/barcade-brawl.ttf") format("opentype"),
    url("https://dafonttop.com/wp-data/b/427/10427/file/barcade-brawl.ttf") format("truetype");
}

body {
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    background: url("../img/backgroundfinal.png");
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

/* Space ships*/
#scene {
    position: absolute;
}

.scaleDown {
    max-width:50%;
    height:auto;
}


.space1 {
    margin-left: 100px;
    margin-top: 550px;
}

.space2 {
    margin-left: 900px;
    margin-top: 500px;
}

.space3 {
    margin-left: 300px;
}

@media (max-width: 425px) {
    .space1 {
        margin-left: 0px;
        margin-top: 480px;
    }

    .space2 {
        margin-left: 150px;
        margin-top: 280px;
        display: none !important;
    }

    .space3 {
        margin-left: 200px;
    }
}

@media (max-width: 768px) {
    .space1 {
        margin-left: 0px;
        margin-top: 480px;
    }

    .space2 {
        margin-left: 400px;
        margin-top: 300px;
        display: none !important;
    }

    .space3 {
        margin-left: 200px;
    }
}

@media (max-width: 1024px) {
    .space1 {
        margin-left: 0px;
        margin-top: 480px;
    }

    .space2 {
        margin-left: 400px;
        margin-top: 300px;
        display: none !important;
    }

    .space3 {
        margin-left: 200px;
    }
}





/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-title {
    opacity: 0.5;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: xx-large;
}

.content__inner-item {
    display: inline;
    font-weight: 700;
}

.content__inner-item:nth-child(3n-1) {
    font-weight: 100;
    font-size: large;
    text-transform: uppercase;
}

.content__inner-item:nth-child(3n) {
    font-weight: lighter;
    font-size: large;
}

.frame__title-wrap {
    grid-area: title;
    display: flex;
    justify-content: end;
}
.frame__title {
    margin: 0 8vw 0 0;
}

.frame__links {
    display: inline;
}

.frame__links a {
    display: inline-block;
    margin: 0 1rem 1rem 1rem;
}

.frame__links a {
    /*pointer-events: auto;*/
    margin: 0 0 0 1rem;
}

.frame__links a:not(:last-child)::after {
    content: '|';
    color: white;
    opacity: 1;
    margin: 0 0 0 1rem;
}

.bottom-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
